button {
  text-transform: uppercase;
  border-radius: 22px;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.button-square {
  text-align: center;
  border-radius: 0;
  border: 2px solid $green;
  font-size: 1.3rem;
  padding: 0.5em 1.1em;
  transition: all 0.3s ease-in-out;
  margin-bottom: 3rem;

  &:hover{
    border: 2px solid $black;
  }

  a {
    &:hover {
      color: darken($green, 9%);
    }
  }
}
